/*===== ¡¡¡INDEX.HTML!!! =====*/  /*==== CONTENIDO BODY GENERAL, HEADER, REDES SOCIALES Y FOOTER SE UTILIZAN PARA TODAS LAS PAGINAS ====*/

/*====== General para todo el contenido Body =====*/

body {
    font-family:sans-serif, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #757575;
    color: #FFFFFF;
}

/*====== Header =====*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #212121;
    border-bottom: 2px solid #e7e7e7;
}

.logo img {
    width: 200px;
    height: auto;    
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 80px;
    color: white;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #FFC107;
}

.reserva a {
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.reserva a:hover {
    background-color: #FFC107;
}

.reserva i {
    margin-right: 8px;
}

/* ====== Titulo inicial ====*/

.titulo {
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #FFC107; 
}

#titulo1 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 150px;
    color: #FFFFFF;    
}

/*====== Peluqueros ====*/

.peluqueros {
    max-width: 1200px;            
    margin: 50px auto;            
    padding: 0 20px;
    text-align: center;
    color: #FFFFFF;
}

.peluqueros h2 {
    color: #FFC107;               
    margin-bottom: 50px;
    font-size: 1.7em; 
}

.peluqueros p {
    font-size: 1.2em;             
    line-height: 1.6;
    margin-bottom: 50px;
             
}

.equipo {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;              
}

.equipo article {
    background-color: #212121;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    width: 28%;                   
    min-width: 250px;            
    box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.3);
    color: white;
}

.equipo img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* ===== Historia del local ====*/

.historia {   
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
    margin: 50px auto;
    text-align: center;
    color: #FFFFFF;
}

.historia article {    
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 30px;
    width: 43%;
    margin-bottom: 20px;
    box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.3);
    transition: transform 1s ease, background-color 1.5s ease;
}

.historia article:hover {
    background-color: #795548;
    transform: scale(1.05);
}

.historia h2 {
    color: #FFC107;
    margin-bottom: 20px;
    font-size: 1.7em;
}

.historia p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

/*====== Titulo y Video corte de pelo ====*/

.cortepelo {
    max-width: 1200px;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    margin-bottom: 200px;
}

.cortepelo h2 {
    color: #FFC107;
    margin-bottom: 50px;
    font-size: 2em;
}

.cortepelo i {
    margin: 20px;
}

#tijeras2 {
    transform: scaleX(-1);
}

.vcortepelo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vcortepelo video {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(255, 193, 7, 0.879);
    border: 2px solid #FFC107;
}

/* ====== Reseñas =====*/

.reseñas {
    max-width: 1200px;
    margin: 30px auto;
}

.reseñas h2 {
    text-align: center;
    font-size: 2em;
    color: #FFC107;
    margin-bottom: 50px;
}

.opinion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    color: #FFFFFF;
}

.opinion article {
    background-color: #5d5d5d;
    border-radius: 10px;
    padding: 30px;
    width: 43%;
    min-width: 250px;
    margin-bottom: 50px;
}

.opinion h3 {
    color: gold;
}

.redessociales {
    background-color: #4b4a4a;
    padding: 20px 0 40px 0;
}

.redessociales h2 {
    color: #FFC107;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* PIE DE PAGINA */

.piepagina {
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* CONTENEDOR PRINCIPAL */

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* SECCIÓN IZQUIERDA: TELÉFONO */
.izquierda {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1em;
}

.izquierda i {
    color: #FFC107;
}


/* SECCIÓN CENTRAL: REDES SOCIALES */
.centro {
    display: flex;
    justify-content: center;
    gap: 30px;
    justify-content: space-evenly;
}

.centro a i {
    font-size: 1.8em;
    transition: all 0.3s ease;
}

.centro .fa-instagram { color: #E4405F; }
.centro .fa-whatsapp { color: #25D366; }

.centro a i:hover {
    color: #FFC107;
    transform: scale(1.2);
}

/* SECCIÓN DERECHA: UBICACIÓN */

.derecha i {
    color: #EA4335;
    font-size: 1.8em;
    transition: all 0.3s ease;
}

.derecha i:hover {
    color: #FFC107;
    transform: scale(1.2);
}


/* ====== Footer =====*/

footer {
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #212121;
}

/*===== ¡¡¡PAGINA NUESTROS SERVICIOS!!! =====*/

/*===== Nuestros servicios seccion IMAGENES =====*/

.imageservicios {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    text-align: center; 
    margin: 0 10% 0 10%; 
}

.imageservicios h2 {
    background-color: #212121;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.imageservicios article {    
    padding: 20px 20px 0px 20px;
    width: 28%;                   
    min-width: 250px;  
}

.imageservicios img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: all 0.5s ease;
}

.imageservicios img:hover {
    box-shadow: 0 0 25px 5px rgba(255, 193, 7, 0.8);
    transform: scale(1.03); 
}

.imageservicios article:last-child {
    margin-bottom: 100px;
}

/*===== PRECIO SERVICIOS =====*/

#nuestrosservicios {
    max-width: 1200px;
    margin: 0 10% 0 10%;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 20px;
    background-color: #212121;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

#nuestrosservicios h2 {
    font-size: 2em;
    color: #FFC107;
    text-align: center;
}

#nuestrosservicios h3 {
    border-bottom: 1px solid #FFC107;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #FFC107;
    font-size: 1.5em;
}

#nuestrosservicios ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nuestrosservicios li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    border-bottom: 1px dotted #FFC107;
    padding: 8px 0;
    transition: all 0.5s ease;
}

#nuestrosservicios li:hover {
    color: gold;
}

#nuestrosservicios li span:first-child {
    font-weight: 500;
}

#nuestrosservicios li span:last-child {
    color: #FFC107;
    font-weight: bold;
}

/*===== NUESTRO ESTUDIO =====*/

#estudio {
    max-width: 1520px;
}

#estudio article {
    display: flex;
}

#estudio img {
    max-width: 600px;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 25px 30px 30px rgba(0, 0, 0, 0.4);
}

#estudio div {
    margin-top: 10%;
}

#estudio h3 {
    font-size: 1.8em;
    color: #FFC107;
}

#salontext2 {
    margin-left: 5%;
}

/*===== VIDEO ESTUDIO =====*/

#studiovideo {
    text-align: center;
    margin-bottom: 60px;
}

#studiovideo video {
    width: 800px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(255, 193, 7, 0.879);
    border: 2px solid #FFC107;
}


/*===== VISTA MÓVIL =====*/


@media (max-width: 768px) {
   
    header {
        flex-direction: column;
        text-align: center;
    }

    .menu ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
  }

    .reserva {
        margin-top: 30px;
  }
}