/*====== General para todo el contenido Body =====*/

body {
    font-family:sans-serif, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #757575;
}

/*====== Header =====*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #212121;
    border-bottom: 2px solid #e7e7e7;
}
.logo img {
    width: 200px;
    height: auto;    
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 80px;
    color: white;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu ul li a:hover {
    color: #FFC107;
}
.reserva a {
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.reserva a:hover {
    background-color: #FFC107;
}
.reserva i {
    margin-right: 8px;
}

/* ====== Titulo inicial ====*/

.titulo1 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 150px;
    color: #FFFFFF;    
}

/*====== Peluqueros ====*/

.peluqueros {
    max-width: 1200px;            
    margin: 50px auto;            
    padding: 0 20px;
    text-align: center;
    color: #FFFFFF;
}

.peluqueros h2 {
    color: #FFC107;               
    margin-bottom: 50px;
    font-size: 1.7em; 
}
.peluqueros p {
    font-size: 1.2em;             
    line-height: 1.6;
    margin-bottom: 50px;
             
}
.equipo {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;              
}

.equipo article {
    background-color: #212121;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    width: 28%;                   
    min-width: 250px;            
    box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.3);
    color: white;
}

.equipo img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* ===== Historia del local ====*/

.historia {   
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
    margin: 50px auto;
    text-align: center;
    color: #FFFFFF;
}
.historia article {    
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 30px;
    width: 43%;
    margin-bottom: 20px;
    box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.3);
    transition: transform 1s ease, background-color 1.5s ease;
}
.historia article:hover {
    background-color: #795548;
    transform: scale(1.05);
}
.historia h2 {
    color: #FFC107;
    margin-bottom: 20px;
    font-size: 1.7em;
}
.historia p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

/*====== Titulo y Video corte de pelo ====*/

.cortepelo {
    max-width: 1200px;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    margin-bottom: 200px;
}
.cortepelo h2 {
    color: #FFC107;
    margin-bottom: 50px;
    font-size: 2em;
}
.cortepelo i {
    margin: 20px;
}
#tijeras2 {
    transform: scaleX(-1);
}
.vcortepelo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vcortepelo video {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(255, 193, 7, 0.879);
    border: 2px solid #FFC107;
}

/* ====== Reseñas =====*/

.reseñas {
    max-width: 1200px;
    margin: 30px auto;
}
.reseñas h2 {
    text-align: center;
    font-size: 2em;
    color: #FFC107;
    margin-bottom: 50px;
}
.opinion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    color: #FFFFFF;
}
.opinion article {
    background-color: #5d5d5d;
    border-radius: 10px;
    padding: 30px;
    width: 43%;
    min-width: 250px;
    margin-bottom: 50px;
}
.opinion h3 {
     color: gold;
}
.redessociales {
    background-color: #4b4a4a;
    display: flex;
    flex-direction: column;
}
.redessociales h2 {
    text-align: center;
    color: #FFC107;
}
.redessociales ul {
    list-style-type: none;
    margin-left: 100px;
}
.redessociales a{
    text-decoration: none;
    color: #FFFFFF;
}
.icono-social {
    font-size: 50px;
    margin-bottom: 20px;
}
.icono-social:hover{
    transform: scale(1.2);
}
.fa-instagram {
    color: #E4405F;
}
.fa-whatsapp {
    color: #25D366;
}
.fa-location-dot {
    color: #EA4335;
}

/* ====== Footer =====*/

footer {
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #212121;
}